<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img src="/img/Logo.png" height="42" width="100"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {{#if user}}
        <li><a href="/profile_page">Profile</a></li>
        <li><a href="/plans_page">Your trips</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        {{#if user}}
         <a href=/logout_page><span class="glyphicon glyphicon-log-out">
         </span> Logout</a>
         {{else}}
         <a href=/><span class="glyphicon glyphicon-log-in">
         </span> Login</a>
        {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
