<nav class="navbar navbar-inverse navbar-fixed-bottom visible-lg">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a>Copyright &copy; WolfPool 2018-19</a></li>
    </ul>
  </div>
</nav>
