<style>
.form-group{
	  margin-bottom: 10px;
}
</style>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key=AIzaSyAhftsNX43-RM-L4GBYbjxjUWnOVNKPuFY"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/jquery.geocomplete.js"></script>


<div class="page-header">
<h3>Create Plan</h3>
</div>
<div >
<form role="form"
  action="/savePlan" onsubmit="return validateForm()" name="search_create_form" method="POST" id="form1">

<div class="form-group">
    <label for="source_id" class="col-sm-2 control-label">
    Source</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="source_id"
      name="source" placeholder="Type in an address" >
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="destination_id" class="col-sm-2 control-label">
    Destination</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="destination_id"
      name="destination" placeholder="Type in an address">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="date_id" class="col-sm-2 control-label">
    Date</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="date_id"
      name="date">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="time_id" class="col-sm-2 control-label">
    Time</label>
    <div class="col-sm-4">
      <input type="time" class="form-control" id="time_id"
      name="time">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="no_of_people_id" class="col-sm-2 control-label">
    Number of people: </label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="no_of_people_id"
      name="no_of_people">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <div class="col-sm-4">
      <button type="button" onclick="return send()" class="btn btn-default">Search</button>
    </div>
  </div> <!-- End of form-group -->

   <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div> <!-- End of form-group -->
  <fieldset class="details_src" hidden="true">
    <label>Latitude</label>
    <input name="lat" type="text" value="" id="source_lat">
    <label>Longitude</label>
    <input name="lng" type="text" value="" id="source_long">
  </fieldset>
  <fieldset class="details_dest" hidden="true">
    <label>Latitude</label>
    <input name="lat" type="text" value="" id="dest_lat">
    <label>Longitude</label>
    <input name="lng" type="text" value="" id="dest_long">
  </fieldset>
    <div class="map_canvas" style="width: 600px; height: 400px;" ></div>

		<div id="result">
				<table id="resultTable" style="display:none;" border="1" >
					<thead>
					 <tr>
						<th width="6.5%">No.</th>
						<th width="8.5%">Source latitude</th>
						<th width="8.5%">Source longitude</th>
						<th width="8.5%">Destination latitude</th>
						<th width="8.5%">Destination longitude</th>
						<th width="8.5%">Date</th>
						<th width="8.5%">Time</th>
						<th width="8.5%">Number of people</th>
						<th width="8.5%">Vacancy</th>
					 </tr>
				 </thead>
				</table>
		</div>

    <script>
      function validateForm() {
        var x = document.forms["search_create_form"]["source"].value;
        if (x == "") {
            alert("Source must be filled out");
            return false;
        }
        x = document.forms["search_create_form"]["destination"].value;
        if (x == "") {
            alert("Destination must be filled out");
            return false;
        }
        x = document.forms["search_create_form"]["date"].value;
        if (x == "") {
            alert("Please select a date");
            return false;
        }
        var y=new Date();

        if(new Date(x+" 23:59:00") < y){
          alert("Please enter a valid date");
          return false;
        }
        var t = document.forms["search_create_form"]["time"].value;
        if (t == "") {
            alert("Please enter time");
            return false;
        }
        x=new Date(x+" "+t+":00");
        if(x < y){
          alert("Please enter a valid time");
          return false;
        }
        x = document.forms["search_create_form"]["no_of_people"].value;
        if (x == "") {
            alert("Please enter number of people");
            return false;
        }
        if(x<1 || x>6){
            alert("Please enter valid number of people");
            return false;
        }
        return true;
    }
</script>
</form>

<script>
  var options;
      var currLat=0;
      var currLong=0;
    $( document ).ready(function() {
          if (navigator.geolocation) {
              console.log(navigator.geolocation.getCurrentPosition(showPosition));
          } else {
              alert("Geolocation is not supported by this browser.");
          }


  function showPosition(position) {
    currLat = position.coords.latitude;
    currLong = position.coords.longitude;
    console.log(currLat);
    console.log(currLong);
    options = {
          map: ".map_canvas",
          details:".details_src",
          location:[currLat,currLong]
        };
     $("#source_id").geocomplete(options);
  }

  $("#source_id").on("focus",function(){
    options = {
      map: ".map_canvas",
      details:".details_src",
      location:[$('input[name=lat]').val(),$('input[name=lng]').val()],
      "mapOptions.zoom":18,
      maxZoom:18
    };
    $(this).geocomplete(options);
    console.log("src "+$('input[name=lat]').val()+" "+$('input[name=lng]').val());
  });

  $("#destination_id").on("focus",function(){
    options = {
      map: ".map_canvas",
      details:".details_dest",
      location:[$('input[name=lat]').val(),$('input[name=lng]').val()],
      "mapOptions.zoom":18,
    };
    $(this).geocomplete(options);
    console.log("dest "+$('input[name=lat]').val()+" "+$('input[name=lng]').val());
  });
});
</script>
<script>
    function send(){

     if(!validateForm())
      return false;

		 $.ajax({
			type : "POST",
			dataType : 'json',
			data : $("#form1").serialize(),
      url: "/searchPlan",
      async: false,
      success: function(json_data){
				if ($.trim(json_data)){

					var already_there = $("#resultTable").is(':visible');
					if (already_there) {
						$('#resultTable tbody > tr').remove();
					} else {
						$("#resultTable").show();
					}

					var len = json_data.length;

					for(var i=0; i<len; i++){
						item = json_data[i];
						var tr_str = "<tr>" +
								"<td align='center'>" + (i+1) + "</td>" +
								"<td align='center'>" + item.source_lat + "</td>" +
								"<td align='center'>" + item.source_long + "</td>" +
								"<td align='center'>" + item.dest_lat + "</td>" +
								"<td align='center'>" + item.dest_long + "</td>" +
								"<td align='center'>" + item.date + "</td>" +
								"<td align='center'>" + item.time + "</td>" +
								"<td align='center'>" + item.no_of_people + "</td>" +
								"<td align='center'>" + (6 - item.no_of_people) + "</td>" +
								"</tr>";
						$("#resultTable").append(tr_str);
					}
				}
				else{
						$('#resultTable tbody > tr').remove();
				    console.log("Empty JSON data received from PlanController");
				}
       },
    	error: function (request, status, error) {
        alert(request.responseText);
				console.log(request.responseText);
      }
     });
    }
</script>
</div>
