<style>
.form-group{
	  margin-bottom: 10px;
}
</style>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key=AIzaSyAhftsNX43-RM-L4GBYbjxjUWnOVNKPuFY"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/jquery.geocomplete.js"></script>


<div class="page-header">
<h3>Create Plan</h3>
</div>
<div >
<form role="form"
  action="/savePlan" method="POST">



<div class="form-group">
    <label for="source_id" class="col-sm-2 control-label">
    Source</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="source_id"
      name="source" placeholder="Type in an address">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="destination_id" class="col-sm-2 control-label">
    Destination</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="destination_id"
      name="destination" placeholder="Type in an address">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="date_id" class="col-sm-2 control-label">
    Date</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="date_id"
      name="date">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="time_id" class="col-sm-2 control-label">
    Time</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="time_id"
      name="time">
    </div>
  </div> <!-- End of form-group -->

<div class="form-group">
    <label for="no_of_people_id" class="col-sm-2 control-label">
    Number of people: </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="no_of_people_id"
      name="no_of_people">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div> <!-- End of form-group -->

   <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Cancel</button>
    </div>
  </div> <!-- End of form-group -->
<fieldset class="details" >
      <label>Latitude</label>
      <input name="lat" type="text" value="">
      <label>Longitude</label>
      <input name="lng" type="text" value="">
    </fieldset>
    <div class="map_canvas" style="width: 600px; height: 400px;" ></div>
</form>
<script>
  var options;
      var currLat=0;
      var currLong=0;
    $( document ).ready(function() {
          if (navigator.geolocation) {
              console.log(navigator.geolocation.getCurrentPosition(showPosition));
          } else { 
              alert("Geolocation is not supported by this browser.");
          }

       
  function showPosition(position) {
    currLat = position.coords.latitude;
    currLong = position.coords.longitude;
    console.log(currLat);
    console.log(currLong);
    options = {
          map: ".map_canvas",
          details:"form",
          location:[currLat,currLong]
        };
     $("#source_id").geocomplete(options);   
  }  

  $("#source_id").on("focus",function(){
    options = {
      map: ".map_canvas",
      details:"form",
      location:[$('input[name=lat]').val(),$('input[name=lng]').val()],
      "mapOptions.zoom":18,
      maxZoom:18
    };
    $(this).geocomplete(options);
    console.log("src "+$('input[name=lat]').val()+" "+$('input[name=lng]').val());
  });

  $("#destination_id").on("focus",function(){
    options = {
      map: ".map_canvas",
      details:"form",
      location:[$('input[name=lat]').val(),$('input[name=lng]').val()],
      "mapOptions.zoom":18,
    };
    $(this).geocomplete(options);
    console.log("dest "+$('input[name=lat]').val()+" "+$('input[name=lng]').val());
  });
});
</script>
</div>
