<div class="page-header">
  <h2>Help</h2>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="bs-callout">
      <h4>Primary Callout</h4> This is a primary callout.
    </div>
  </div>
</div>
