<div class="page-header">
<div class="row">
    <div class="col-sm-6 text-center">
        <button id="btnSearchPlan" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="" >Search Plan</button>
    </div>
    <div class="col-sm-6 text-center">
         <button id="btnCreatePlan" class="btn btn-danger btn-md center-block" Style="width: 100px;" onclick="location.href = '/create_plan_page';" >Create Plan</button>
     </div>
</div>
</div>
