<div class="page-header">
<div class="row">
    <div class="col-sm-10 text-center">
        <button id="btnSearchPlan" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="location.href = '/create_search_plan_page';" >Search Plan</button>
    </div>
</div>
</div>
