<form role="form" action="/loginUser" method="POST">
  <div class="form-group">
    <label for="emal_id" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="emal_id" name="email">
    </div>
    <label for="password_id" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password_id" name="password">
    </div>
  </div>
  <div class="col-sm-4">
    <input type="submit" class="form-control" id="submit_id" name="Register">
  </div>
</form>
