<div class="page-header">
<h3>Profile Page</h3>
</div>
<div class="profilePage">
<h4>Profile details</h4>
<form class="formProfilePages" role="form"
  action="/process?form=contactus" method="POST">

  <div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldName" name="name">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldEmail" name="email">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="fieldPassword" name="password">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" data-country="US" id="fieldPhone" name="phone">
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldUniversity" class="col-sm-2 control-label">University</label>
    <div class="col-sm-4">
      <select class="form-control" id="fieldUniversity" name="university">
        <option></option>
        <option>North Carolina State University</option>
        <option>University of North Carolina at Chapel Hill</option>
        <option>Duke University</option>
        <option>Wake Forst University</option>
        <option>East Carolina University</option>
      </select>
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldGender" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-4">
      <div class="radio">
        <label><input type="radio" name="optradio">Male</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Female</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Prefer not to answer</label>
      </div>
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <label for="fieldAddress" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-4">
      <textarea class="form-control" rows="5" id="fieldAddress" name="address"></textarea>
    </div>
  </div> <!-- End of form-group -->

  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div> <!-- End of form-group -->

</form>

</div> <!-- End of contactUs -->
